@import '@/assets/css/base.css';
a {
  text-decoration: none;
}
@media (hover: hover) {
}

@media (min-width: 768px) {
	body.navigationsFixed {
		padding-top: 66px;
	}
}
@media (max-width: 767.98px) {
	body {
		padding-top: 70px;
	}
	.splide__arrow svg {
		height: 2em;
	}
}

main {
	margin: 0 auto;
}
@media (min-width: 768px) {
	main {
		max-width: 1440px;
		padding: 0 40px;
	}
}
@media (max-width: 767.98px) {
	main {
		padding: 0 20px;
	}
}

/* for sliders start */
.splide__arrow {
	margin-top: -20px;
}
.splide__arrow svg {
	fill: #fff;
}
.splide__pagination__page {
	background-color: var(--blue);
	opacity: 1;
	border-radius: 0;
	height: 10px;
	margin: 8px 10px;
	width: 20px;
}

@media (max-width: 480px) {
	.home-slider .splide__arrow--next {
		right: 5px;
	}
	.home-slider .splide__arrow--prev {
		left: 5px;
	}
}
@media (max-width: 450px) {
	.news-slider .splide__arrow--next {
		right: 5px;
	}
	.news-slider .splide__arrow--prev {
		left: 5px;
	}
}
/* for sliders stop */